.tag {
	padding: 5px 17px;
	color: #fff;
	background-color: var(--accent-main-color);
	display: flex;
	justify-content: center;
	border-radius: 6px;
	cursor: pointer;
	font-size: clamp(12px, 1vw, 18px);
}
.altStyle {
	color: var(--accent-main-color);
	background-color: var(--accent-light-color);
}
