.heading {
  font-size: 32px;
  font-weight: 600;
	color: var(--mainColor);
}


.back {
	color: var(--mainColor);
	font-weight: bold;
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 16px;
	text-decoration: none;
	margin-bottom: 20px;

	&:hover {
		color: var(--subColor);
		text-decoration: underline;
	}

	svg {
		font-size: 18px;
	}
}

.or {
  text-align: center;
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
	color: var(--mainColor);
}

.footer {
  margin-top: 25px;
  padding-top: 10px;
  border-top: 2px solid var(--mainBorderColor);
  text-align: center;
  color: var(--subColor);
  a {
    color: var(--mainColor);
    font-weight: bold;
  }
}
