{
	"trailingComma": "none",
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"arrowParens": "avoid",
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"printWidth": 80,
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"importOrder": ["^@next/(.*)$", "^@services/(.*)$", "^@ui/(.*)$", "^[./]"]
}
