.mobile {
	position: relative;
	@media (min-width: 1001px) {
		display: none;
	}
	.open {
		font-size: 30px;
		cursor: pointer;
		color: var(--text-sub-color);
	}
	.open:active {
		color: var(--text-sub-color);
	}
	.menu {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: #00000086;
		z-index: 100;
		display: flex;
		justify-content: center;
		align-items: center;
		.content {
			width: 70dvw;
			padding: 20px;
			position: fixed;
			top: 0;
			bottom: 0;
			right: 0;
			background-color: var(--bg-main-color);
			display: flex;
			flex-direction: column;
			gap: 30px;
			.nav {
				display: flex;
				flex-direction: column;
				gap: 0px;
				a {
					padding: 10px 0px;
					color: var(--text-sub-color);
					font-size: 22px;
					font-weight: 500;
				}
			}
		}
		.mode {
			color: var(--text-main-color);
		}
	}
}
