.popular {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	padding: 20px;
	border-radius: 10px;
	border: 2px solid var(--border-main-color);
  .tags {
		min-width: 700px;
		padding-top: 8px;
		display: flex;
    align-items: center;
    gap: 10px;
		max-width: 80%;
		* {
			white-space: nowrap;
		}
  }
  h3 {
		font-weight: bold;
    font-size: clamp(16px, 2vw, 22px);
		white-space: nowrap;
		color: var(--text-main-color);
	}
}
