.tabs {
	display: flex;
	align-items: center;
	.tab {
		padding: 2px 10px;
		border-right: 2px solid var(--border-main-color);
		font-weight: 500;
		color: var(--text-sub-color);
		cursor: pointer;
	}
	.tab:last-child {
		border-right: none;
	}
	.active {
		color: var(--text-main-color);
	}
}