.userPage {
  width: 100%;
  min-height: 100dvh;
  .content {
    padding-top: 30px;
    width: 100%;
		display: flex;
		flex-direction: column;
		gap: 20px;
    .categories {
      overflow-x: auto;
			min-width: 500px;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10px;
      color: var(--mainColor);
      .category {
        width: 150px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-weight: 500;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        cursor: pointer;
      }

      .active {
        background-color: var(--200MainColor);
      }
    }
  }
}
