.manyPost {
	width: 100%;
	flex-grow: 1;
	h3 {
		font-weight: bold;
		font-size: clamp(32px, 2vw, 42px);
		color: var(--text-main-color);
	}
	.items {
		margin-top: clamp(20px, 2vw, 40px);
		width: 100%;
		display: grid;	
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
		@media (max-width: 1200px) {
			grid-template-columns: repeat(1, 1fr) !important;
		}
	}
	.notFound {
		width: 100%;
		min-height: 70vh;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 500;
		color: var(--text-main-color);
		@media (max-width: 1200px) {
			flex-direction: column;
		}
	}
}