.buttons {
	display: flex;
	gap: 5px;
	.actionButton {
		padding: 7px;
		border-radius: 5px;
		background-color: transparent;
		cursor: pointer;
		transition: background-color 0.5s;
		color: var(--text-main-color);
	}
	.actionButton:first-child {
		&:hover {
			background-color: var(--bg-yellow-transparent);
		}
		&.active {
			background-color: var(--bg-yellow-transparent);
		}
	}
	.actionButton:nth-child(2) {
		&:hover {
			background-color: var(--bg-blue-transparent);
		}
		&.active {
			background-color: var(--bg-blue-transparent);
		}
	}
	.actionButton:nth-child(3) {
		&:hover {
			background-color: var(--bg-red-transparent);
		}
		&.active {
			background-color: var(--bg-red-transparent);
		}
	}
}
