@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	--text-main-color: #000; /* Ранее: --mainColor */
	--text-main-transparent-color: #00000017; /* Ранее: --200MainColor */
	--bg-main-color: #fff; /* Ранее: --mainBackgroundColor */
	--border-main-color: #ededed; /* Ранее: --mainBorderColor */
	--text-sub-color: #717171; /* Ранее: --subColor */
	--bg-sub-color: #f6f6f7; /* Ранее: --subBackgroundColor */
	--bg-input-color: #fff; /* Ранее: --inputBackgroundColor */
	--bg-input-pending-color: #dfdfdf;
	--accent-main-color: #4b6bfb; /* Ранее: --accentColor */
	--accent-light-color: #ced5f545; /* Ранее: --100AccentColor */
	--accent-dark-color: #8ba0fe; /* Ранее: --400AccentColor */
	--avatar-color: #888888; /* Ранее: --userAvatar */
	--bg-yellow-transparent: #ffd5808a; /* Ранее: --200YellowColor */
	--bg-red-transparent: #ff6b6b85; /* Ранее: --200RedColor */
	--bg-blue-transparent: #7ab8ff70; /* Ранее: --200BlueColor */
	--shadow-main-color: rgba(0, 0, 0, 0.1); /* Ранее: --mainShadowColor */
}

body[data-theme='dark'] {
	--text-main-color: #ffffff; /* Ранее: --mainColor */
	--text-main-transparent-color: #ffffff29; /* Ранее: --200MainColor */
	--bg-main-color: #121212; /* Ранее: --mainBackgroundColor */
	--border-main-color: #303030; /* Ранее: --mainBorderColor */
	--text-sub-color: #b0b0b0; /* Ранее: --subColor */
	--bg-sub-color: #1e1e1e; /* Ранее: --subBackgroundColor */
	--bg-input-color: #333333; /* Ранее: --inputBackgroundColor */
	--accent-main-color: #4b6bfb; /* Ранее: --accentColor */
	--accent-light-color: #3b4b9b50; /* Ранее: --100AccentColor */
	--avatar-color: #bbbbbb; /* Ранее: --userAvatar */
	--shadow-main-color: rgba(39, 39, 39, 0.778); /* Ранее: --mainShadowColor */
}

body {
	--social-text-color: #fff; /* Ранее: --socialColor */
	--social-bg-color: #696a75; /* Ранее: --socialBackgroundColor */
	--banner-bg-color: #f6f6f7; /* Ранее: --bannerbackgroundColor */
	--banner-text-color: #3b3c4a; /* Ранее: --bannerTextColor */
}

body[data-theme='dark'] {
	--social-text-color: var(--text-main-color); /* Ранее: --socialColor */
	--social-bg-color: #696a75; /* Ранее: --socialBackgroundColor */
	--banner-bg-color: var(--bg-sub-color); /* Ранее: --bannerbackgroundColor */
	--banner-text-color: #bababf; /* Ранее: --bannerTextColor */
}

body {
	--success-color: #28a745; /* Ранее: --successColor */
	--danger-color: #dc3545; /* Ранее: --dangerColor */
}

body {
	background-color: var(--bg-main-color);
	transition: background-color 0.3s ease;
}

body::selection {
	background: #3b4b9b50;
}

body::-moz-selection {
	background: var(--accent-dark-color);
}

*::-webkit-scrollbar {
	height: 2px;
	width: 5px;
}
*::-webkit-scrollbar-track {
	background-color: #f1f1f1;
	border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
	background-color: var(--accent-main-color);
	border-radius: 10px;
}
*::-webkit-scrollbar-thumb:hover {
	background-color: #555;
}


.ql-container {
	border-radius: 5px !important;
	border: 1px solid #ccc !important;
	min-height: 40dvh;
}

.swiper-pagination {
	position: relative !important;
	top: 0px !important;
	z-index: 1000 !important;
}
