.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: var(--mainBackgroundColor);
	button {
		text-transform: uppercase;
		font-weight: 500;
	}
	.image {
		width: 50%;
		height: 100%;
		order: 2;
		@media (max-width: 800px) {
			width: 100% !important;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.left {
		order: 0 !important;
	}
	.content {
		width: 50%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		order: 1;
		.menu {
			width: clamp(300px, 90%, 400px);
		}
		@media (max-width: 800px) {
			width: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			.menu {
				width: clamp(300px, 90%, 500px);
				background-color: var(--mainBackgroundColor);
				padding: 25px;
				border-radius: 20px;
			}
		}
	}
}
