.popular {
  width: 100%;
  position: relative;
  color: #fff;
  .background {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: none;
    object-fit: cover;
    z-index: -1;
    border-radius: 10px;
		filter: brightness(70%);
  }
  .content__popular {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 15px;
    height: 100%;
  }
  .title {
    font-weight: bold;
  }
  .detalis {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}



.big {
	flex-grow: 1;
	min-height: 700px;
	@media (max-width: 800px) {
		height: 500px;
		min-height: 0px;
	}
	.content__popular {
    padding: clamp(20px, 2vw, 30px);
	}
  .title {
    font-size: clamp(24px, 2vw, 32px);
  }
  .detalis {
    .authorName {
      font-size: clamp(16px, 1vw, 20px);
    }
    .date {
      font-size: clamp(16px, 1vw, 20px);
    }
  }
}
.small {
	@media (max-width: 800px) {
		height: 250px;
	}
	.content__popular {
    padding: clamp(20px, 2vw, 30px);
	}
  .title {
    font-size: clamp(18px, 2vw, 22px);
  }
}
