.header {
  width: 100%;
  padding: 26px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    width: calc(100% / 5.5);
    display: flex;
    align-items: center;
    gap: 10px;
    .text {
      font-size: clamp(22px, 2vw, 32px);
			color: var(--mainColor);
    }
		.icon {
			height: 30px;
			width: 30px;
			min-width: 30px;
			min-height: 30px;
		}
  }
  .nav {
    display: flex;
    gap: clamp(10px, 2vw, 40px);
    a {
      color: var(--subColor);
      font-size: clamp(16px, 1vw, 20px);
    }
		.active {
			border-bottom: 2px solid var(--subColor);
		}
  }
  .inputs {
    display: flex;
    gap: 30px;
  }
}

.desktop {
  @media (max-width: 1000px) {
    display: none !important;
  }
}
