.container {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  .content {
    width: 95%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    .back {
      color: var(--mainColor);
      font-weight: bold;
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 16px;
      text-decoration: none;

      &:hover {
        color: var(--subColor);
        text-decoration: underline;
      }

      svg {
        font-size: 18px;
      }
    }

		.image {
			width: 200px;
			height: 100%;
			position: relative;
			.clear {
				opacity: 0;
				background-color: #ccccccdc;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				top: 0;
				cursor: pointer;
				svg {
					color: #333;
					font-size: 20px;
				}
			}
		}
		.image:hover {
			.clear {
				opacity: 1;
			}
		}

    p {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 5px;
      color: #333;
    }

    .input {
      width: 100%;
      padding: 10px 15px;
      font-size: 14px;
      border: 1px solid #ccc;
      border-radius: 5px;
      transition: border-color 0.2s;

      &:focus {
        border-color: var(--mainColor);
        outline: none;
      }
    }

    .select {
      width: 100%;
      .react-select__control {
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 14px;
      }
    }

    button {
      align-self: flex-end;
    }
  }
}

@media (max-width: 600px) {
	.container {
		padding: 10px;
		.content{
			padding: 20px;
		}
	}
}

.editor {
  > .ql-container {
    border-radius: 5px;
    border: 1px solid #ccc;
    min-height: 500px !important;
    height: 100dvh !important;
  }

  > .ql-editor {
    min-height: 500px !important;
    height: 100dvh !important;
    border-radius: 0 0 5px 5px;
  }

  > .ql-toolbar {
    border-radius: 5px 5px 0 0;
    border: 1px solid #ccc;
    border-bottom: none;
  }
}
