.post {
	position: relative;
	width: 100%;
	height: auto;
	border: 2px solid var(--mainBorderColor);
	padding: 20px;
	color: var(--mainColor);
	border-radius: 20px;
	display: flex;
	flex-direction: row;
	.postImage {
		width: 40%;
		height: 230px;
		object-fit: cover;
		border-radius: 5px;
	}
	.heading {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
	.detalis {
		width: 60%;
		padding: 0px 10px 0px 20px;
		display: flex;
		gap: 15px;
		align-items: flex-start;
		flex-direction: column;
	}

	.title {
		font-size: clamp(20px, 1.6vw, 26px);
		text-wrap: balance;
		font-weight: bold;
		flex-grow: 1;
	}
	.content {
		display: flex;
		align-items: center;
		gap: 12px;
		color: var(--subColor);
		.authorName {
			font-size: clamp(14px, 1vw, 18px);
			font-weight: bold;
		}
		.date {
			margin-left: 7px;
			font-size: clamp(14px, 1vw, 18px);
		}
	}
}

@media (min-width: 650px) and (max-width: 1200px) {
	.post {
		.detalis {
			.title {
				font-size: clamp(24px, 3vw, 34px);
			}
		}
	}
}

@media (max-width: 615px) {
	.post {
		flex-direction: column;
		.postImage {
			width: 100%;
			height: 200px;
		}
		.detalis {
			width: 100%;
			padding: 15px 0px 0px 0px;
		}
	}
}
