.notFound {
  width: 100%;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
	@media (max-width: 1200px) {
		flex-direction: column;
	}
  .code {
    font-size: clamp(3rem, 10vw, 6.5rem);
    color: var(--mainColor);
    padding-right: 50px;
    border-right: 2px solid var(--mainBorderColor);
		@media (max-width: 1200px) {
			border-right: none;
			border-bottom: 2px solid var(--mainBorderColor);
			padding-bottom: 20px;
			padding-right: 0;
		}
  }

  .content {
		padding-left: 50px;
		@media (max-width: 1200px) {
			padding-top: 20px;
			padding-left: 0;
			justify-content: center;
		}
		display: flex;
    flex-direction: column;
		gap: 10px;
    .contentText {
      color: var(--subColor);
      font-size: clamp(16px, 2vw, 23px);
			line-height: 1.2;
    }
  }

  .text {
    font-size: clamp(16px, 2vw, 26px);
    font-weight: 500;
    color: var(--mainColor);
  }

  .link {
    color: var(--accentColor);
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: var(--mainColor);
    }
  }
}
